@page "/childworkers/delete"
@using Microsoft.EntityFrameworkCore
@using BlazorWebAppLab2.Data
@inject IDbContextFactory<BlazorWebAppLab2.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Удалить Ребенка</PageTitle>

<h1>Удалить ребенка</h1>

<p>Удалить ребенка?</p>
<div>
    <h2>Дети</h2>
    <hr />
    @if (childworker is null)
    {
        <p><em>Загрузка...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">Имя ребенка</dt>
            <dd class="col-sm-10">@childworker.ChildName</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Дата рождения</dt>
            <dd class="col-sm-10">@childworker.DateBirth</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Id сотрудника</dt>
            <dd class="col-sm-10">@childworker.WorkerId</dd>
        </dl>
        <EditForm method="post" Model="childworker" OnValidSubmit="DeleteChildWorker" FormName="delete" Enhance>
            <button type="submit" class="btn btn-danger" disabled="@(childworker is null)">Удалить</button> |
            <a href="/childworkers">Назад к списку</a>
        </EditForm>
    }
</div>

@code {
    private ChildWorker? childworker;

    [SupplyParameterFromQuery]
    private int ChildWorkerId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        childworker = await context.ChildWorkers.FirstOrDefaultAsync(m => m.ChildWorkerId == ChildWorkerId);

        if (childworker is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    private async Task DeleteChildWorker()
    {
        using var context = DbFactory.CreateDbContext();
        context.ChildWorkers.Remove(childworker!);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/childworkers");
    }
}
